LocalDevelopment/BPM_BEISPIEL/htwberlin.de.tr119/bpm_beispiel_0/pr/pm/_comp/src/wsdl/beschaffung.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:bpm="http://htwberlin.de.tr119/beschaffung" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="beschaffung" targetNamespace="http://htwberlin.de.tr119/beschaffung">

  <wsdl:types>
    <xsd:schema targetNamespace="http://htwberlin.de.tr119/beschaffung">
      <xsd:element name="beschaffungsAuftrag">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="artikelnummer" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="beschaffungsAntwort" type="xsd:string"/>
      <xsd:element name="nichtLieferbarFehler">
      	<xsd:complexType>
      	  <xsd:sequence>
      		  <xsd:element name="nichtLieferbarFehler" type="xsd:string"/>
       	  </xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="beschaffungsAnfrage">
    <wsdl:part element="bpm:beschaffungsAuftrag" name="parameter"/>
  </wsdl:message>
  <wsdl:message name="beschaffungsAntwort">
    <wsdl:part element="bpm:beschaffungsAntwort" name="parameter"/>
  </wsdl:message>
  <wsdl:message name="nichtLieferbarFehler">
  	<wsdl:part element="bpm:nichtLieferbarFehler" name="parameter"/>
  </wsdl:message>

  <wsdl:portType name="beschaffungsAuftrag">
    <wsdl:operation name="artikelBeschaffen">
      <wsdl:input message="bpm:beschaffungsAnfrage"/>
      <wsdl:output message="bpm:beschaffungsAntwort"/>
      <wsdl:fault message="bpm:nichtLieferbarFehler" name="NichtLieferbar"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="beschaffungSOAP" type="bpm:beschaffungsAuftrag">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="artikelBeschaffen">
      <soap:operation soapAction="http://htwberlin.de.tr119/beschaffung/artikelBeschaffen"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
	  <wsdl:fault name="NichtLieferbar">
		<soap:fault name="NichtLieferbar" use="literal"/>
	  </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
 
  <wsdl:service name="beschaffung">
    <wsdl:port binding="bpm:beschaffungSOAP" name="beschaffungSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>
