LocalDevelopment/BPM_BEISPIEL/htwberlin.de.tr119/bpm_beispiel_0/pr/pm/_comp/src/wsdl/rootwsdl_importedwsdl_1_TestCalloutTR119Service_TestCalloutTR119.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:tns="http://distanz.services.com.sap.demo/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://distanz.services.com.sap.demo/">
  <UsingPolicy xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://distanz.services.com.sap.demo/" version="1.0">
<xs:element name="IOException" type="tns:IOException"/>
<xs:element name="sendTestData" type="tns:sendTestData"/>
<xs:element name="sendTestDataResponse" type="tns:sendTestDataResponse"/>
<xs:complexType name="sendTestData">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="sendTestDataResponse">
<xs:sequence>
<xs:element minOccurs="0" name="jsonResponse" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IOException">
<xs:sequence>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="sendTestDataIn">
<wsdl:part element="tns:sendTestData" name="parameters"/>
</wsdl:message>
<wsdl:message name="sendTestDataOut">
<wsdl:part element="tns:sendTestDataResponse" name="sendTestDataResponse"/>
</wsdl:message>
<wsdl:message name="sendTestDataFault">
<wsdl:part element="tns:IOException" name="IOException"/>
</wsdl:message>
<wsdl:portType name="TestCalloutTR119">
<wsdl:operation name="sendTestData" parameterOrder="parameters">
<wsdl:input message="tns:sendTestDataIn"/>
<wsdl:output message="tns:sendTestDataOut"/>
<wsdl:fault message="tns:sendTestDataFault" name="IOException"/>
</wsdl:operation>
</wsdl:portType>


</wsdl:definitions>
