LocalDevelopment/BPM_BEISPIEL/htwberlin.de.tr119/bpm_beispiel_0/pr/pm/_comp/src/wsdl/rootwsdl_importedwsdl_1_TestCallout119Service_TestCallout119.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:tns="http://distanz.services.com.sap.demo/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://distanz.services.com.sap.demo/">
	<UsingPolicy xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://distanz.services.com.sap.demo/" version="1.0">
			<xs:element name="IOException" type="tns:IOException"/>
			<xs:element name="sendGet" type="tns:sendGet"/>
			<xs:element name="sendGetResponse" type="tns:sendGetResponse"/>
			<xs:complexType name="sendGet">
				<xs:sequence/>
			</xs:complexType>
			<xs:complexType name="IOException">
				<xs:sequence>
					<xs:element minOccurs="0" name="message" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
            <xs:complexType name="sendGetResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="jsonResponse" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
        </xs:schema>
	</wsdl:types>
	<wsdl:message name="sendGetIn">
		<wsdl:part element="tns:sendGet" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="sendGetOut">
		<wsdl:part element="tns:sendGetResponse" name="sendGetResponse"/>
	</wsdl:message>
	<wsdl:message name="sendGetFault">
		<wsdl:part element="tns:IOException" name="IOException"/>
	</wsdl:message>
	<wsdl:portType name="TestCallout119">
		<wsdl:operation name="sendGet" parameterOrder="parameters">
			<wsdl:input message="tns:sendGetIn"/>
			<wsdl:output message="tns:sendGetOut"/>
			<wsdl:fault message="tns:sendGetFault" name="IOException"/>
		</wsdl:operation>
	</wsdl:portType>


</wsdl:definitions>
