LocalDevelopment/BPM_BEISPIEL/htwberlin.de.tr119/bpm_beispiel_0/pr/pm/_comp/src/wsdl/rootwsdl_importedwsdl_1_KatalogServiceTR119Service_KatalogServiceTR119.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:tns="http://katalog.services.com.sap.demo/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://katalog.services.com.sap.demo/">
  <UsingPolicy xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://katalog.services.com.sap.demo/" version="1.0">
<xs:element name="artikelEntfernen" type="tns:artikelEntfernen"/>
<xs:element name="artikelEntfernenResponse" type="tns:artikelEntfernenResponse"/>
<xs:element name="istArtikelAufLager" type="tns:istArtikelAufLager"/>
<xs:element name="istArtikelAufLagerResponse" type="tns:istArtikelAufLagerResponse"/>
<xs:complexType name="istArtikelAufLager">
<xs:sequence>
<xs:element minOccurs="0" name="artikelnummer" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="istArtikelAufLagerResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="artikelEntfernen">
<xs:sequence>
<xs:element minOccurs="0" name="artikelnummer" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="artikelEntfernenResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="istArtikelAufLagerIn">
<wsdl:part element="tns:istArtikelAufLager" name="parameters"/>
</wsdl:message>
<wsdl:message name="istArtikelAufLagerOut">
<wsdl:part element="tns:istArtikelAufLagerResponse" name="istArtikelAufLagerResponse"/>
</wsdl:message>
<wsdl:message name="artikelEntfernenIn">
<wsdl:part element="tns:artikelEntfernen" name="parameters"/>
</wsdl:message>
<wsdl:message name="artikelEntfernenOut">
<wsdl:part element="tns:artikelEntfernenResponse" name="artikelEntfernenResponse"/>
</wsdl:message>
<wsdl:portType name="KatalogServiceTR119">
<wsdl:operation name="istArtikelAufLager" parameterOrder="parameters">
<wsdl:input message="tns:istArtikelAufLagerIn"/>
<wsdl:output message="tns:istArtikelAufLagerOut"/>
</wsdl:operation>
<wsdl:operation name="artikelEntfernen" parameterOrder="parameters">
<wsdl:input message="tns:artikelEntfernenIn"/>
<wsdl:output message="tns:artikelEntfernenOut"/>
</wsdl:operation>
</wsdl:portType>


</wsdl:definitions>
