LocalDevelopment/BPM_BEISPIEL/htwberlin.de.tr119/bpm_beispiel_0/pr/pm/_comp/src/wsdl/rootwsdl_importedwsdl_1_VersandServiceTR119Service_VersandServiceTR119.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:tns="http://versand.services.com.sap.demo/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://versand.services.com.sap.demo/">
  <UsingPolicy xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://versand.services.com.sap.demo/" version="1.0">
<xs:element name="versandStarten" type="tns:versandStarten"/>
<xs:element name="versandStartenResponse" type="tns:versandStartenResponse"/>
<xs:complexType name="versandStarten">
<xs:sequence>
<xs:element minOccurs="0" name="lagerId" type="xs:string"/>
<xs:element minOccurs="0" name="details" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="versandStartenResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="versandStartenIn">
<wsdl:part element="tns:versandStarten" name="parameters"/>
</wsdl:message>
<wsdl:message name="versandStartenOut">
<wsdl:part element="tns:versandStartenResponse" name="versandStartenResponse"/>
</wsdl:message>
<wsdl:portType name="VersandServiceTR119">
<wsdl:operation name="versandStarten" parameterOrder="parameters">
<wsdl:input message="tns:versandStartenIn"/>
<wsdl:output message="tns:versandStartenOut"/>
</wsdl:operation>
</wsdl:portType>


</wsdl:definitions>
