LocalDevelopment/DCs/demo.050112.com/bpm_beispiel_0/pr/pm/_comp/src/wsdl/auftragserfuellung.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:bpm="http://htwberlin.de.tr119/auftragserfuellung/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="auftragserfuellung" targetNamespace="http://htwberlin.de.tr119/auftragserfuellung/">

  <wsdl:types>
    <xsd:schema targetNamespace="http://htwberlin.de.tr119/auftragserfuellung/">
      <xsd:element name="auftrag">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="artikelnummer" type="xsd:string"/>
          	<xsd:element name="menge" type="xsd:int"/>
          	<xsd:element name="kunde" type="bpm:KundenTyp"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="KundenTyp">
      	<xsd:sequence>
      		<xsd:element name="vorname" type="xsd:string"/>
      		<xsd:element name="nachname" type="xsd:string"/>
      		<xsd:element name="telefon" type="xsd:string"/>
      		<xsd:element name="email" type="xsd:string"/>
      		<xsd:element name="anschrift" type="bpm:AnschriftTyp"/>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AnschriftTyp">
      	<xsd:sequence>
      		<xsd:element name="straße" type="xsd:string"/>
      		<xsd:element name="hausnummer" type="xsd:int"/>
      		<xsd:element name="postleitzahl" type="xsd:int"/>
      		<xsd:element name="stadt" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="auftragsAnfrage">
    <wsdl:part element="bpm:auftrag" name="parameter"/>
  </wsdl:message>
  
  <wsdl:portType name="auftragsAnfrage">
    <wsdl:operation name="auftragErfuellen">
      <wsdl:input message="bpm:auftragsAnfrage"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="auftragserfuellungSOAP" type="bpm:auftragsAnfrage">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="auftragErfuellen">
      <soap:operation soapAction="http://htwberlin.de.tr119/auftragserfuellung/auftragErfuellen"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="auftragserfuellung">
    <wsdl:port binding="bpm:auftragserfuellungSOAP" name="auftragserfuellungSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>
