LocalDevelopment/BPM_BEISPIEL/htwberlin.de.tr119/bpm_beispiel_0/pr/pm/_comp/rep/ui/com.htwberlin.de.tr119.glx.wdcomp.mengeangebencomponent.MengeangebenComponentInterface.ports.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://htwberlin.de.tr119/bpm_beispiel_0/ui/wd/MengeangebenComponent/ports" xmlns:data="http://htwberlin.de.tr119/bpm_beispiel_0/ui/wd/MengeangebenComponent" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://htwberlin.de.tr119/bpm_beispiel_0/ui/wd/MengeangebenComponent/ports"><xsd:import namespace="http://htwberlin.de.tr119/bpm_beispiel_0/ui/wd/MengeangebenComponent" schemaLocation="com.htwberlin.de.tr119.glx.wdcomp.mengeangebencomponent.MengeangebenComponentInterface.xsd"/><xsd:element name="ContextElementINPUT" type="ContextTypeINPUT"><xsd:annotation><xsd:appinfo>START_POINT</xsd:appinfo></xsd:annotation></xsd:element><xsd:complexType name="ContextTypeINPUT"><xsd:sequence><xsd:element maxOccurs="1" minOccurs="1" name="Context" type="data:Context"/></xsd:sequence></xsd:complexType><xsd:element name="MengeangebenCompleteEventElementOUTPUT" type="MengeangebenCompleteEventTypeOUTPUT"><xsd:annotation><xsd:appinfo>END_POINT</xsd:appinfo></xsd:annotation></xsd:element><xsd:complexType name="MengeangebenCompleteEventTypeOUTPUT"><xsd:sequence><xsd:element maxOccurs="1" minOccurs="0" name="MengeangebenCompleteEvent" type="data:Context"/></xsd:sequence></xsd:complexType><xsd:element name="MengeangebenErrorEventElementOUTPUT" type="MengeangebenErrorEventTypeOUTPUT"><xsd:annotation><xsd:appinfo>END_POINT</xsd:appinfo></xsd:annotation></xsd:element><xsd:complexType name="MengeangebenErrorEventTypeOUTPUT"><xsd:sequence><xsd:element maxOccurs="1" minOccurs="0" name="MengeangebenErrorEvent" type="data:Context"/></xsd:sequence></xsd:complexType></xsd:schema>