LocalDevelopment/BPM_BEISPIEL/htwberlin.de.tr119/bpm_beispiel_0/pr/pm/_comp/rep/ui/de.sap.temp.AusgabegenehmigenComponentInterface.ports.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://htwberlin.de.tr119/bpm_beispiel_0/ui/vc_impl/AusgabegenehmigenComponent/ports" xmlns:data="http://htwberlin.de.tr119/bpm_beispiel_0/ui/vc_impl/AusgabegenehmigenComponent" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://htwberlin.de.tr119/bpm_beispiel_0/ui/vc_impl/AusgabegenehmigenComponent/ports"><xsd:import namespace="http://htwberlin.de.tr119/bpm_beispiel_0/ui/vc_impl/AusgabegenehmigenComponent" schemaLocation="de.sap.temp.AusgabegenehmigenComponentInterface.xsd"/><xsd:element name="startElementINPUT" type="startTypeINPUT"><xsd:annotation><xsd:appinfo>START_POINT</xsd:appinfo></xsd:annotation></xsd:element><xsd:complexType name="startTypeINPUT"><xsd:sequence><xsd:element maxOccurs="1" minOccurs="1" name="start" type="data:Form"/></xsd:sequence></xsd:complexType><xsd:element name="AusgabegenehmigenCompleteEventElementOUTPUT" type="AusgabegenehmigenCompleteEventTypeOUTPUT"><xsd:annotation><xsd:appinfo>END_POINT</xsd:appinfo></xsd:annotation></xsd:element><xsd:complexType name="AusgabegenehmigenCompleteEventTypeOUTPUT"><xsd:sequence><xsd:element maxOccurs="1" minOccurs="1" name="AusgabegenehmigenCompleteEvent" type="data:Form"/></xsd:sequence></xsd:complexType><xsd:element name="AusgabegenehmigenErrorEventElementOUTPUT" type="AusgabegenehmigenErrorEventTypeOUTPUT"><xsd:annotation><xsd:appinfo>END_POINT</xsd:appinfo></xsd:annotation></xsd:element><xsd:complexType name="AusgabegenehmigenErrorEventTypeOUTPUT"><xsd:sequence><xsd:element maxOccurs="1" minOccurs="1" name="AusgabegenehmigenErrorEvent" type="data:Form"/></xsd:sequence></xsd:complexType></xsd:schema>