LocalDevelopment/t/0580DF47290DB9AC5ED144F589FE5FFF/tmp/wsdls/htwberlin.de.tr119~bpm_beispiel_0~pr~pm/auftragserfuellung.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://htwberlin.de.tr119/auftragserfuellung/" name="auftragserfuellung" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://htwberlin.de.tr119/auftragserfuellung/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <wsdl:types>
    <xsd:schema targetNamespace="http://htwberlin.de.tr119/auftragserfuellung/">
      <xsd:complexType name="KundenTyp">
        <xsd:sequence>
          <xsd:element name="vorname" type="xsd:string"></xsd:element>
          <xsd:element name="nachname" type="xsd:string"></xsd:element>
          <xsd:element name="telefon" type="xsd:string"></xsd:element>
          <xsd:element name="email" type="xsd:string"></xsd:element>
          <xsd:element name="anschrift" type="tns:AnschriftTyp"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AnschriftTyp">
        <xsd:sequence>
          <xsd:element name="straße" type="xsd:string"></xsd:element>
          <xsd:element name="hausnummer" type="xsd:int"></xsd:element>
          <xsd:element name="postleitzahl" type="xsd:int"></xsd:element>
          <xsd:element name="stadt" type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="auftrag">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="artikelnummer" type="xsd:string"></xsd:element>
            <xsd:element name="menge" type="xsd:int"></xsd:element>
            <xsd:element name="kunde" type="tns:KundenTyp"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="auftragsAnfrage">
    <wsdl:part name="parameter" element="tns:auftrag"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="auftragsAnfrage">
    <wsdl:operation name="auftragErfuellen">
      <wsdl:input message="tns:auftragsAnfrage"></wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="auftragserfuellungSOAP" type="tns:auftragsAnfrage">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="auftragErfuellen">
      <soap:operation soapAction="http://htwberlin.de.tr119/auftragserfuellung/auftragErfuellen"></soap:operation>
      <wsdl:input>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="auftragserfuellung">
    <wsdl:port name="auftragserfuellungSOAP" binding="tns:auftragserfuellungSOAP">
      <soap:address location="http://www.example.org/"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
