LocalDevelopment/t/0580DF47290DB9AC5ED144F589FE5FFF/tmp/wsdls/htwberlin.de.tr119~bpm_beispiel_0~pr~pm/rootwsdl_importedwsdl_1_VersandServiceTR119Service_VersandServiceTR119.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://versand.services.com.sap.demo/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://versand.services.com.sap.demo/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ns1:UsingPolicy xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy"></ns1:UsingPolicy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://versand.services.com.sap.demo/">
      <xsd:complexType name="versandStarten">
        <xsd:sequence>
          <xsd:element name="lagerId" type="xsd:string" minOccurs="0"></xsd:element>
          <xsd:element name="details" type="xsd:string" minOccurs="0"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="versandStartenResponse">
        <xsd:sequence>
          <xsd:element name="return" type="xsd:string" minOccurs="0"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="versandStarten" type="tns:versandStarten"></xsd:element>
      <xsd:element name="versandStartenResponse" type="tns:versandStartenResponse"></xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="versandStartenIn">
    <wsdl:part name="parameters" element="tns:versandStarten"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="versandStartenOut">
    <wsdl:part name="versandStartenResponse" element="tns:versandStartenResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="VersandServiceTR119">
    <wsdl:operation name="versandStarten" parameterOrder="parameters">
      <wsdl:input message="tns:versandStartenIn"></wsdl:input>
      <wsdl:output message="tns:versandStartenOut"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
