LocalDevelopment/t/0580DF47290DB9AC5ED144F589FE5FFF/tmp/wsdls/htwberlin.de.tr119~bpm_beispiel_0~pr~pm/rootwsdl_importedwsdl_1_HaendlerServiceTR119Service_HaendlerServiceTR119.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://haendler.services.com.sap.demo/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://haendler.services.com.sap.demo/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ns1:UsingPolicy xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy"></ns1:UsingPolicy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://haendler.services.com.sap.demo/">
      <xsd:complexType name="artikelVerfuegbarkeitPruefen">
        <xsd:sequence>
          <xsd:element name="artikelnummer" type="xsd:string" minOccurs="0"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="artikelVerfuegbarkeitPruefenResponse">
        <xsd:sequence>
          <xsd:element name="artikelVerfuegbarkeit" type="tns:artikelVerfuegbarkeitTR119" minOccurs="0"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="artikelVerfuegbarkeitTR119">
        <xsd:sequence>
          <xsd:element name="artikelnummer" type="xsd:string" minOccurs="0"></xsd:element>
          <xsd:element name="preis" type="xsd:int"></xsd:element>
          <xsd:element name="waehrung" type="xsd:string" minOccurs="0"></xsd:element>
          <xsd:element name="lieferbar" type="xsd:boolean"></xsd:element>
          <xsd:element name="lieferzeitInTagen" type="xsd:int"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="artikelBestellen">
        <xsd:sequence>
          <xsd:element name="artikelnummer" type="xsd:string" minOccurs="0"></xsd:element>
          <xsd:element name="menge" type="xsd:int"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="artikelBestellenResponse">
        <xsd:sequence>
          <xsd:element name="return" type="xsd:boolean"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="artikelBestellen" type="tns:artikelBestellen"></xsd:element>
      <xsd:element name="artikelBestellenResponse" type="tns:artikelBestellenResponse"></xsd:element>
      <xsd:element name="artikelVerfuegbarkeit" type="tns:artikelVerfuegbarkeitTR119"></xsd:element>
      <xsd:element name="artikelVerfuegbarkeitPruefen" type="tns:artikelVerfuegbarkeitPruefen"></xsd:element>
      <xsd:element name="artikelVerfuegbarkeitPruefenResponse" type="tns:artikelVerfuegbarkeitPruefenResponse"></xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="artikelVerfuegbarkeitPruefenIn">
    <wsdl:part name="parameters" element="tns:artikelVerfuegbarkeitPruefen"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="artikelBestellenIn">
    <wsdl:part name="parameters" element="tns:artikelBestellen"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="artikelBestellenOut">
    <wsdl:part name="artikelBestellenResponse" element="tns:artikelBestellenResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="artikelVerfuegbarkeitPruefenOut">
    <wsdl:part name="artikelVerfuegbarkeitPruefenResponse" element="tns:artikelVerfuegbarkeitPruefenResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="HaendlerServiceTR119">
    <wsdl:operation name="artikelVerfuegbarkeitPruefen" parameterOrder="parameters">
      <wsdl:input message="tns:artikelVerfuegbarkeitPruefenIn"></wsdl:input>
      <wsdl:output message="tns:artikelVerfuegbarkeitPruefenOut"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="artikelBestellen" parameterOrder="parameters">
      <wsdl:input message="tns:artikelBestellenIn"></wsdl:input>
      <wsdl:output message="tns:artikelBestellenOut"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
