LocalDevelopment/t/0580DF47290DB9AC5ED144F589FE5FFF/tmp/wsdls/htwberlin.de.tr119~bpm_beispiel_0~pr~pm/rootwsdl_MaterialAvailability.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <wsdl:documentation>
    <ns1:sidl xmlns:ns1="http://www.sap.com/2007/03/sidl"></ns1:sidl>
  </wsdl:documentation>
  <ns2:UsingPolicy xmlns:ns2="http://schemas.xmlsoap.org/ws/2004/09/policy" wsdl:required="true"></ns2:UsingPolicy>
  <ns3:Policy xmlns:ns3="http://schemas.xmlsoap.org/ws/2004/09/policy" ns4:Id="BN__r41z_200" xmlns:ns4="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <ns3:ExactlyOne>
      <ns3:All>
        <ns5:Enabled xmlns:ns5="http://www.sap.com/710/features/attachment/">false</ns5:Enabled>
        <ns6:OptimizedMimeSerialization xmlns:ns6="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" ns3:Optional="true"></ns6:OptimizedMimeSerialization>
        <ns7:UsingAddressing xmlns:ns7="http://www.w3.org/2006/05/addressing/wsdl" ns3:Optional="true"></ns7:UsingAddressing>
        <ns3:All>
          <ns8:TransportBinding xmlns:ns8="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
            <ns3:Policy>
              <ns8:TransportToken>
                <ns3:Policy>
                  <ns8:HttpsToken>
                    <ns3:Policy>
                      <ns8:HttpBasicAuthentication></ns8:HttpBasicAuthentication>
                    </ns3:Policy>
                  </ns8:HttpsToken>
                </ns3:Policy>
              </ns8:TransportToken>
              <ns8:AlgorithmSuite>
                <ns3:Policy>
                  <ns8:Basic128Rsa15></ns8:Basic128Rsa15>
                </ns3:Policy>
              </ns8:AlgorithmSuite>
              <ns8:Layout>
                <ns3:Policy>
                  <ns8:Strict></ns8:Strict>
                </ns3:Policy>
              </ns8:Layout>
            </ns3:Policy>
          </ns8:TransportBinding>
        </ns3:All>
      </ns3:All>
      <ns3:All>
        <ns9:Enabled xmlns:ns9="http://www.sap.com/710/features/attachment/">false</ns9:Enabled>
        <ns10:OptimizedXMLTransfer xmlns:ns10="http://www.sap.com/webas/710/soap/features/transportbinding/" uri="http://xml.sap.com/2006/11/esi/esp/binxml" ns3:Optional="true"></ns10:OptimizedXMLTransfer>
        <ns11:UsingAddressing xmlns:ns11="http://www.w3.org/2006/05/addressing/wsdl" ns3:Optional="true"></ns11:UsingAddressing>
        <ns3:All>
          <ns12:TransportBinding xmlns:ns12="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
            <ns3:Policy>
              <ns12:TransportToken>
                <ns3:Policy>
                  <ns12:HttpsToken>
                    <ns3:Policy>
                      <ns12:HttpBasicAuthentication></ns12:HttpBasicAuthentication>
                    </ns3:Policy>
                  </ns12:HttpsToken>
                </ns3:Policy>
              </ns12:TransportToken>
              <ns12:AlgorithmSuite>
                <ns3:Policy>
                  <ns12:Basic128Rsa15></ns12:Basic128Rsa15>
                </ns3:Policy>
              </ns12:AlgorithmSuite>
              <ns12:Layout>
                <ns3:Policy>
                  <ns12:Strict></ns12:Strict>
                </ns3:Policy>
              </ns12:Layout>
            </ns3:Policy>
          </ns12:TransportBinding>
        </ns3:All>
      </ns3:All>
    </ns3:ExactlyOne>
  </ns3:Policy>
  <ns13:Policy xmlns:ns13="http://schemas.xmlsoap.org/ws/2004/09/policy" ns14:Id="BN__r41z_200_soap12" xmlns:ns14="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <ns13:ExactlyOne>
      <ns13:All>
        <ns15:Enabled xmlns:ns15="http://www.sap.com/710/features/attachment/">false</ns15:Enabled>
        <ns16:OptimizedMimeSerialization xmlns:ns16="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" ns13:Optional="true"></ns16:OptimizedMimeSerialization>
        <ns17:UsingAddressing xmlns:ns17="http://www.w3.org/2006/05/addressing/wsdl" ns13:Optional="true"></ns17:UsingAddressing>
        <ns13:All>
          <ns18:TransportBinding xmlns:ns18="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
            <ns13:Policy>
              <ns18:TransportToken>
                <ns13:Policy>
                  <ns18:HttpsToken>
                    <ns13:Policy>
                      <ns18:HttpBasicAuthentication></ns18:HttpBasicAuthentication>
                    </ns13:Policy>
                  </ns18:HttpsToken>
                </ns13:Policy>
              </ns18:TransportToken>
              <ns18:AlgorithmSuite>
                <ns13:Policy>
                  <ns18:Basic128Rsa15></ns18:Basic128Rsa15>
                </ns13:Policy>
              </ns18:AlgorithmSuite>
              <ns18:Layout>
                <ns13:Policy>
                  <ns18:Strict></ns18:Strict>
                </ns13:Policy>
              </ns18:Layout>
            </ns13:Policy>
          </ns18:TransportBinding>
        </ns13:All>
      </ns13:All>
      <ns13:All>
        <ns19:Enabled xmlns:ns19="http://www.sap.com/710/features/attachment/">false</ns19:Enabled>
        <ns20:OptimizedXMLTransfer xmlns:ns20="http://www.sap.com/webas/710/soap/features/transportbinding/" uri="http://xml.sap.com/2006/11/esi/esp/binxml" ns13:Optional="true"></ns20:OptimizedXMLTransfer>
        <ns21:UsingAddressing xmlns:ns21="http://www.w3.org/2006/05/addressing/wsdl" ns13:Optional="true"></ns21:UsingAddressing>
        <ns13:All>
          <ns22:TransportBinding xmlns:ns22="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
            <ns13:Policy>
              <ns22:TransportToken>
                <ns13:Policy>
                  <ns22:HttpsToken>
                    <ns13:Policy>
                      <ns22:HttpBasicAuthentication></ns22:HttpBasicAuthentication>
                    </ns13:Policy>
                  </ns22:HttpsToken>
                </ns13:Policy>
              </ns22:TransportToken>
              <ns22:AlgorithmSuite>
                <ns13:Policy>
                  <ns22:Basic128Rsa15></ns22:Basic128Rsa15>
                </ns13:Policy>
              </ns22:AlgorithmSuite>
              <ns22:Layout>
                <ns13:Policy>
                  <ns22:Strict></ns22:Strict>
                </ns13:Policy>
              </ns22:Layout>
            </ns13:Policy>
          </ns22:TransportBinding>
        </ns13:All>
      </ns13:All>
    </ns13:ExactlyOne>
  </ns13:Policy>
  <ns23:Policy xmlns:ns23="http://schemas.xmlsoap.org/ws/2004/09/policy" ns24:Id="IF__ZMaterialAvailability" xmlns:ns24="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <ns23:ExactlyOne>
      <ns23:All>
        <ns25:Session xmlns:ns25="http://www.sap.com/webas/630/soap/features/session/">
          <ns25:enableSession>false</ns25:enableSession>
        </ns25:Session>
        <ns26:CentralAdministration xmlns:ns26="http://www.sap.com/webas/700/soap/features/CentralAdministration/" ns23:Optional="true">
          <ns26:BusinessApplicationID>0017A47700281ED3AEFD91ADE5C5DFDB</ns26:BusinessApplicationID>
        </ns26:CentralAdministration>
      </ns23:All>
    </ns23:ExactlyOne>
  </ns23:Policy>
  <ns27:Policy xmlns:ns27="http://schemas.xmlsoap.org/ws/2004/09/policy" ns28:Id="OP__MaterialAvailability" xmlns:ns28="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <ns27:ExactlyOne>
      <ns27:All>
        <ns29:required xmlns:ns29="http://www.sap.com/NW05/soap/features/transaction/">no</ns29:required>
        <ns30:enableCommit xmlns:ns30="http://www.sap.com/NW05/soap/features/commit/">false</ns30:enableCommit>
        <ns31:enableBlocking xmlns:ns31="http://www.sap.com/NW05/soap/features/blocking/">true</ns31:enableBlocking>
        <ns32:enableWSRM xmlns:ns32="http://www.sap.com/NW05/soap/features/wsrm/">false</ns32:enableWSRM>
      </ns27:All>
    </ns27:ExactlyOne>
  </ns27:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:tns="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1"></xsd:maxLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10"></xsd:maxLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18"></xsd:maxLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2"></xsd:maxLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20"></xsd:maxLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char220">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="220"></xsd:maxLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char24">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="24"></xsd:maxLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char32">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="32"></xsd:maxLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4"></xsd:maxLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char40">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40"></xsd:maxLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char5">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="5"></xsd:maxLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50"></xsd:maxLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10"></xsd:maxLength>
          <xsd:pattern value="\d\d\d\d-\d\d-\d\d"></xsd:pattern>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric5">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="5"></xsd:maxLength>
          <xsd:pattern value="\d*"></xsd:pattern>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6"></xsd:maxLength>
          <xsd:pattern value="\d*"></xsd:pattern>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantum13.3">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13"></xsd:totalDigits>
          <xsd:fractionDigits value="3"></xsd:fractionDigits>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="unit3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3"></xsd:maxLength>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" attributeFormDefault="qualified" xmlns:ns33="urn:sap-com:document:sap:rfc:functions">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"></xsd:import>
      <xsd:complexType name="Bapimgvmatnr">
        <xsd:sequence>
          <xsd:element name="MaterialExt" type="ns33:char40"></xsd:element>
          <xsd:element name="MaterialVers" type="ns33:char10"></xsd:element>
          <xsd:element name="MaterialGuid" type="ns33:char32"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bapiwmdve">
        <xsd:sequence>
          <xsd:element name="Bdcnt" type="ns33:numeric5"></xsd:element>
          <xsd:element name="ReqDate" type="ns33:date10"></xsd:element>
          <xsd:element name="ReqQty" type="ns33:quantum13.3"></xsd:element>
          <xsd:element name="ComDate" type="ns33:date10"></xsd:element>
          <xsd:element name="ComQty" type="ns33:quantum13.3"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bapiwmdvs">
        <xsd:sequence>
          <xsd:element name="ReqDate" type="ns33:date10"></xsd:element>
          <xsd:element name="ReqQty" type="ns33:quantum13.3"></xsd:element>
          <xsd:element name="Delkz" type="ns33:char2"></xsd:element>
          <xsd:element name="Yline" type="xsd:int"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bapireturn">
        <xsd:sequence>
          <xsd:element name="Type" type="ns33:char1"></xsd:element>
          <xsd:element name="Code" type="ns33:char5"></xsd:element>
          <xsd:element name="Message" type="ns33:char220"></xsd:element>
          <xsd:element name="LogNo" type="ns33:char20"></xsd:element>
          <xsd:element name="LogMsgNo" type="ns33:numeric6"></xsd:element>
          <xsd:element name="MessageV1" type="ns33:char50"></xsd:element>
          <xsd:element name="MessageV2" type="ns33:char50"></xsd:element>
          <xsd:element name="MessageV3" type="ns33:char50"></xsd:element>
          <xsd:element name="MessageV4" type="ns33:char50"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfBapiwmdve">
        <xsd:sequence>
          <xsd:element name="item" type="tns:Bapiwmdve" minOccurs="0" maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfBapiwmdvs">
        <xsd:sequence>
          <xsd:element name="item" type="tns:Bapiwmdvs" minOccurs="0" maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="MaterialAvailability">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Batch" type="ns33:char10" minOccurs="0"></xsd:element>
            <xsd:element name="CheckRule" type="ns33:char2" minOccurs="0"></xsd:element>
            <xsd:element name="Customer" type="ns33:char10" minOccurs="0"></xsd:element>
            <xsd:element name="DecForRounding" type="xsd:short" minOccurs="0"></xsd:element>
            <xsd:element name="DecForRoundingX" type="ns33:char1" minOccurs="0"></xsd:element>
            <xsd:element name="DocNumber" type="ns33:char10" minOccurs="0"></xsd:element>
            <xsd:element name="ItmNumber" type="ns33:numeric6" minOccurs="0"></xsd:element>
            <xsd:element name="Material" type="ns33:char18"></xsd:element>
            <xsd:element name="MaterialEvg" type="tns:Bapimgvmatnr" minOccurs="0"></xsd:element>
            <xsd:element name="Plant" type="ns33:char4"></xsd:element>
            <xsd:element name="ReadAtpLock" type="ns33:char1" minOccurs="0"></xsd:element>
            <xsd:element name="ReadAtpLockX" type="ns33:char1" minOccurs="0"></xsd:element>
            <xsd:element name="StgeLoc" type="ns33:char4" minOccurs="0"></xsd:element>
            <xsd:element name="StockInd" type="ns33:char1" minOccurs="0"></xsd:element>
            <xsd:element name="Unit" type="ns33:unit3"></xsd:element>
            <xsd:element name="WbsElem" type="ns33:char24" minOccurs="0"></xsd:element>
            <xsd:element name="Wmdvex" type="tns:TableOfBapiwmdve"></xsd:element>
            <xsd:element name="Wmdvsx" type="tns:TableOfBapiwmdvs"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MaterialAvailabilityResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="AvQtyPlt" type="ns33:quantum13.3"></xsd:element>
            <xsd:element name="Dialogflag" type="ns33:char1"></xsd:element>
            <xsd:element name="Endleadtme" type="ns33:date10"></xsd:element>
            <xsd:element name="Return" type="tns:Bapireturn"></xsd:element>
            <xsd:element name="Wmdvex" type="tns:TableOfBapiwmdve"></xsd:element>
            <xsd:element name="Wmdvsx" type="tns:TableOfBapiwmdvs"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MaterialAvailability">
    <wsdl:part name="parameters" element="tns:MaterialAvailability"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="MaterialAvailabilityResponse">
    <wsdl:part name="parameter" element="tns:MaterialAvailabilityResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ZMaterialAvailability">
    <ns34:Policy xmlns:ns34="http://schemas.xmlsoap.org/ws/2004/09/policy">
      <ns34:PolicyReference URI="#IF__ZMaterialAvailability"></ns34:PolicyReference>
    </ns34:Policy>
    <wsdl:operation name="MaterialAvailability">
      <ns35:Policy xmlns:ns35="http://schemas.xmlsoap.org/ws/2004/09/policy">
        <ns35:PolicyReference URI="#OP__MaterialAvailability"></ns35:PolicyReference>
      </ns35:Policy>
      <wsdl:input message="tns:MaterialAvailability"></wsdl:input>
      <wsdl:output message="tns:MaterialAvailabilityResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="r41z_200" type="tns:ZMaterialAvailability">
    <ns36:Policy xmlns:ns36="http://schemas.xmlsoap.org/ws/2004/09/policy">
      <ns36:PolicyReference URI="#BN__r41z_200"></ns36:PolicyReference>
    </ns36:Policy>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="MaterialAvailability">
      <soap:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZMaterialAvailability:MaterialAvailabilityRequest" style="document"></soap:operation>
      <wsdl:input>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="r41z_200_soap12" type="tns:ZMaterialAvailability">
    <ns37:Policy xmlns:ns37="http://schemas.xmlsoap.org/ws/2004/09/policy">
      <ns37:PolicyReference URI="#BN__r41z_200_soap12"></ns37:PolicyReference>
    </ns37:Policy>
    <ns38:binding xmlns:ns38="http://schemas.xmlsoap.org/wsdl/soap12/" style="document" transport="http://schemas.xmlsoap.org/soap/http"></ns38:binding>
    <wsdl:operation name="MaterialAvailability">
      <ns39:operation xmlns:ns39="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZMaterialAvailability:MaterialAvailabilityRequest" style="document"></ns39:operation>
      <wsdl:input>
        <ns40:body xmlns:ns40="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"></ns40:body>
      </wsdl:input>
      <wsdl:output>
        <ns41:body xmlns:ns41="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"></ns41:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MaterialAvailability">
    <wsdl:port name="r41z_200_soap12" binding="tns:r41z_200_soap12">
      <ns42:address xmlns:ns42="http://schemas.xmlsoap.org/wsdl/soap12/" location="http://r41z.hcc.uni-magdeburg.de:8041/sap/bc/srt/rfc/sap/zmaterialavailability/200/materialavailability/r41z_200"></ns42:address>
    </wsdl:port>
    <wsdl:port name="r41z_200" binding="tns:r41z_200">
      <soap:address location="http://r41z.hcc.uni-magdeburg.de:8041/sap/bc/srt/rfc/sap/zmaterialavailability/200/materialavailability/r41z_200"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
