LocalDevelopment/t/0580DF47290DB9AC5ED144F589FE5FFF/tmp/wsdls/htwberlin.de.tr119~bpm_beispiel_0~pr~pm/rootwsdl_importedwsdl_1_TestCalloutTR119Service_TestCalloutTR119.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://distanz.services.com.sap.demo/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://distanz.services.com.sap.demo/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ns1:UsingPolicy xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy"></ns1:UsingPolicy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://distanz.services.com.sap.demo/">
      <xsd:complexType name="IOException">
        <xsd:sequence>
          <xsd:element name="message" type="xsd:string" minOccurs="0"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="sendTestData">
        <xsd:sequence></xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="sendTestDataResponse">
        <xsd:sequence>
          <xsd:element name="jsonResponse" type="xsd:string" minOccurs="0"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="IOException" type="tns:IOException"></xsd:element>
      <xsd:element name="sendTestData" type="tns:sendTestData"></xsd:element>
      <xsd:element name="sendTestDataResponse" type="tns:sendTestDataResponse"></xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="sendTestDataFault">
    <wsdl:part name="IOException" element="tns:IOException"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendTestDataOut">
    <wsdl:part name="sendTestDataResponse" element="tns:sendTestDataResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendTestDataIn">
    <wsdl:part name="parameters" element="tns:sendTestData"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TestCalloutTR119">
    <wsdl:operation name="sendTestData" parameterOrder="parameters">
      <wsdl:input message="tns:sendTestDataIn"></wsdl:input>
      <wsdl:output message="tns:sendTestDataOut"></wsdl:output>
      <wsdl:fault name="IOException" message="tns:sendTestDataFault"></wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
