LocalDevelopment/t/0580DF47290DB9AC5ED144F589FE5FFF/tmp/wsdls/htwberlin.de.tr119~bpm_beispiel_0~pr~pm/TR_119_OrderList_Async_Out.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://tr.demo.sap.com/tr_119" name="TR_119_OrderList_Async_Out" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tr.demo.sap.com/tr_119" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <wsdl:documentation></wsdl:documentation>
  <ns1:UsingPolicy xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy" wsdl:required="true"></ns1:UsingPolicy>
  <ns2:properties xmlns:ns2="urn:com-sap:ifr:v2:wsdl">
    <ns2:category>ifmmessif</ns2:category>
    <ns2:VersionID>f8d00f0286c011e586c70000373e5936</ns2:VersionID>
    <ns2:lifeCycleInfo>
      <objectState></objectState>
      <objectstatus value="A"></objectstatus>
      <personresponsible value="tr-bwa-119"></personresponsible>
      <changed by="tr-bwa-119" on="1447060190595"></changed>
    </ns2:lifeCycleInfo>
    <ns2:runtimeVersion uri="urn:sap-com:soap:application:esr:client:710"></ns2:runtimeVersion>
    <ns2:communicationProfile uri="prf_dt_if_com_stateless"></ns2:communicationProfile>
    <ns2:securityProfile uri="prf_dt_if_sec_low"></ns2:securityProfile>
    <ns2:interfacePattern p2p="false">L</ns2:interfacePattern>
    <ns2:isSensitiveData>false</ns2:isSensitiveData>
    <ns2:classifications>
      <ns2:classification name="ObjectType" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-type" valueCode="ifmmessif"></ns2:classification>
      <ns2:classification name="ObjectID" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-id" valueCode="544b7d24f8b83b8bbeea15a3787c3704"></ns2:classification>
    </ns2:classifications>
    <ns2:additionalAttributes></ns2:additionalAttributes>
    <ns2:methods>
      <ns2:method name="TR_119_OrderList_Async_Out">
        <ns2:isSynchron>false</ns2:isSynchron>
        <ns2:isIdempotent>false</ns2:isIdempotent>
        <ns2:isInbound>false</ns2:isInbound>
        <ns2:interfaceCategory>outbound</ns2:interfaceCategory>
        <ns2:communicationProfile uri="prf_dt_op_com_async"></ns2:communicationProfile>
        <ns2:lifeCycleInfo>
          <objectState></objectState>
        </ns2:lifeCycleInfo>
        <ns2:contextobjects></ns2:contextobjects>
      </ns2:method>
    </ns2:methods>
    <ns2:messages>
      <ns2:message name="TR_119_OrderList_MT">
        <ns2:messType>ifmmessage</ns2:messType>
        <ns2:keyElements>
          <ns2:elem id="NAME">TR_119_OrderList_MT</ns2:elem>
          <ns2:elem id="NAMESPACE">http://tr.demo.sap.com/tr_119</ns2:elem>
        </ns2:keyElements>
        <ns2:technicalNamespace>http://tr.demo.sap.com/tr_119</ns2:technicalNamespace>
        <ns2:VersionID>6749f35586c111e5bb510000373e5936</ns2:VersionID>
        <ns2:xmlNamespace>http://tr.demo.sap.com/tr_119</ns2:xmlNamespace>
        <ns2:dataType name="TR_119_OrderList" namespace="http://tr.demo.sap.com/tr_119" swcvId="f32c167065e011e4c765f7aa8d2c261d" uri="name=TR_119_OrderList~namespace=http://tr.demo.sap.com/tr_119~swcvId=f32c167065e011e4c765f7aa8d2c261d"></ns2:dataType>
      </ns2:message>
    </ns2:messages>
    <ns2:matchingInterfaces></ns2:matchingInterfaces>
    <ns2:genericProperties>
      <ns2:swcvinfo>
        <ns2:guid>f32c167065e011e4c765f7aa8d2c261d</ns2:guid>
        <ns2:name>TR_SWCV 1.0 of demo.sap.com</ns2:name>
      </ns2:swcvinfo>
      <ns2:languages>
        <ns2:language internalCode="EN" original="true"></ns2:language>
      </ns2:languages>
      <ns2:documentation type="I">
        <name>_ID_544b7d24f8b83b8bbeea15a3787c3704_ifmmessif</name>
        <namespace>http://tr.demo.sap.com/tr_119</namespace>
      </ns2:documentation>
    </ns2:genericProperties>
  </ns2:properties>
  <ns3:Policy xmlns:ns3="http://schemas.xmlsoap.org/ws/2004/09/policy" ns4:Id="OP_TR_119_OrderList_Async_Out" xmlns:ns4="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"></ns3:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tr.demo.sap.com/tr_119">
      <xsd:complexType name="TR_119_OrderList">
        <xsd:sequence>
          <xsd:element name="order" type="tns:TR_119_Order" maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TR_119_Order">
        <xsd:sequence>
          <xsd:element name="productID" type="xsd:string"></xsd:element>
          <xsd:element name="quantity" type="xsd:int"></xsd:element>
          <xsd:element name="comment" type="xsd:string" minOccurs="0"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="TR_119_OrderList_MT" type="tns:TR_119_OrderList"></xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TR_119_OrderList_MT">
    <wsdl:part name="TR_119_OrderList_MT" element="tns:TR_119_OrderList_MT"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TR_119_OrderList_Async_Out">
    <wsdl:documentation></wsdl:documentation>
    <wsdl:operation name="TR_119_OrderList_Async_Out">
      <wsdl:documentation></wsdl:documentation>
      <ns5:Policy xmlns:ns5="http://schemas.xmlsoap.org/ws/2004/09/policy">
        <ns5:PolicyReference URI="#OP_TR_119_OrderList_Async_Out"></ns5:PolicyReference>
      </ns5:Policy>
      <wsdl:input message="tns:TR_119_OrderList_MT"></wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TR_119_OrderList_Async_OutBinding" type="tns:TR_119_OrderList_Async_Out">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="TR_119_OrderList_Async_Out">
      <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"></soap:operation>
      <wsdl:input>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
